@import '../variables.less';

cmp-expander {
    display: block;

    &>.expander-header {
        background-color: @panel-info-heading-bg;
        padding: @padding-base-vertical;
        border-radius: @padding-base-vertical;
        margin-bottom:  @padding-base-vertical;

        a {
            cursor: pointer;
            text-decoration: none;
        }

        a.expander-title {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }

            .has-errors {
                color:@red-base;
                background-color: transparent;
            }
        }

        &.fixable {
            position: relative;

            a.expander-pin {
                position: absolute;
                top:2px;
                left:2px;
                display: block;
                padding: 2px;
                border: 2px solid transparent;
                border-style: inset;

                &.fixed {
                    border-color:@panel-bg;
                }
            }

            a.expander-title {
                display: block;
                margin-left: 24px;
            }
        }

    }
}