@import "filter.less";
@import "left-panel.less";
@import "main-panel.less";
@import "table.less";

.has-changes {
    color: #00f;
}

.has-errors {
    background-color: rgb(255, 125, 125);
}

.form-field-container {
    display: table;
    & > div {
        display: table-row;

        & > * {
            display: table-cell;
            vertical-align: top;
            width: 100%;

            &.errors {
                width: 0;
                & > * {
                    margin-right: 4px;
                }
            }
        }
    }
}

cmp-filters-panel {
    .filters-panel {
        cmp-filter {
            width:100%;
        }
    }
}

cmp-form-field {
    & > div {
        .form-field-container;
        width: 100%;
    }
}