.img {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &.img-exit { background-image: url(images/exit128x128.png); }
    &.img-gerb { background-image: url(images/gerb.gif); }
    &.img-ido-logo { background-image: url(images/shape.jpg); }
    &.img-wait { background-image: url(images/wait-blue.png); }
}


